# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

Frontend/node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

doc/navrh.aux
doc/navrh.fdb_latexmk
doc/navrh.fls
doc/navrh.log
doc/navrh.out
doc/navrh.synctex.gz
doc/navrh.toc