.create-camp-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  position: relative;
  min-height: 69vh;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 10px;
  width: 90%;
  align-items: center;
}

.team-form {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  margin: 10px auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.team-form > * {
  margin-bottom: 7px;
}

h3 {
  text-align: center;
  font-size: 24px;
  margin: 0;
}

input, select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 95%;
}

input:focus, select:focus {
  outline: none;
  border-color: var(--primaryColor);
}

.submitbutton {
  background-color: var(--primaryColor);
  color: #fff;
  border: none;
  padding: 15px;
  margin-bottom: 50px;
  font-size: 18px;
  border-radius: 25px;
  cursor: pointer;
  width: 50%;
  transition: transform 0.2s ease;
}

.submitbutton:hover {
  opacity: 90%;
  transform: scale(1.05); 
}

.child-form {
  width: 100%;
}

.child-form .child-name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.children-count {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  max-width: 40%;
  margin: 0 auto;
}

.child-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.arrow-btn {
  color: var(--primaryColor);
  background: none;
  border: none;
  margin-top: 20px;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.2s ease;
  flex-shrink: 0;
}

.arrow-btn:hover {
  background: none;
  transform: scale(1.2);
}

.arrow-btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.color-picker {
  margin: 10px 0px 15px 0px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  width: 100%;
}

.current-color {
  width: 35px; 
  height: 35px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.2s ease;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.current-color:hover {
  transform: scale(1.1);
}

.current-color.selected {
  border: 2px solid #000;
  transform: scale(1.1);
}

.wave-svg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}