.individual-points-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow-x: hidden;  /* Zabraňuje horizontálnímu rolování */
}

.number-of-points {
    width: 40%;
}