.main-page-container {
    height: 100%;
    position: relative;
    min-height: 100vh;
    padding-bottom: 300px; 
}

.camp-results-table-container {
    display: flex;
    justify-content: center;
    overflow-x: auto;
}

.camp-results-table {
    max-width: 700px;
    width: 90%;
    border-collapse: separate;
    border-spacing: 0;
    text-align: center;
    margin-top: 20px;
    border-radius: 25px;
    overflow: hidden;
    border: 1px solid #ccc;
}

.nadpish1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    color: #2C2C2C;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.nadpish3 {
    text-align: center;
    font-size: 16px;
    color: #2c2c2cb2;
}

.camp-results-table th,
.camp-results-table td {
    padding: 10px;
    border: 1px solid #ccc;
}

.header-row {
    background-color: #2C2C2C;
    color: white;
    font-weight: bold;
}

.total-row {
    background-color: #f0f0f0;
    font-weight: bold;
}

.wave-svg {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
  
.selectors-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    max-width: 600px;
}
  
  .selectors-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .selectors-container select {
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: border-color 0.2s ease;
  }
  
  .selectors-container select:focus {
    outline: none;
    border-color: #2C2C2C;
  }


.games-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 600px;
    width: 80%;
    margin: 0 auto;
}

.game-item {
    background-color: #f0f0f0;
    border-radius: 15px;
    padding: 13px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #2C2C2C;
    transition: background-color 0.3s ease, color 0.3s ease;

}

.game-item:hover {
    background-color: #2C2C2C;
    color: #f0f0f0;
}

.game-item:hover .participant-count {
    background-color: #2C2C2C;
    color: #f0f0f0;
}

.game-name {
    font-weight: bold;
    font-size: 20px;
}

.participant-count {
    font-size: 16px;
    background-color: #f0f0f0;
    padding: 5px 10px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}




.game-detail-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    width: 400px;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
}

.detail-hry {
    font-size: 16px;
    color: grey;
    margin: 0;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-icon-left, .modal-icon-right {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.game-type {
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Inter', sans-serif;
    color: #2C2C2C;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.participant-table {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.participant-table th {
    padding-bottom: 10px;
    text-align: left;
}


.participant-table td {
    padding-top: 5px;
    text-align: left;
}

.close-modal {
    background-color: #2C2C2C;
    color: #fff;
    border: none;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
  
.close-modal:hover {
    opacity: 90%;
    transform: scale(1.05); 
}
