.team-points-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.game-name-input {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}

.form-error {
    color: red;
    font-size: 0.9rem;
    width: 300px;
    font-weight: bold;
    text-align: center; 
    display: block;
}


