/* Container for the entire component */
.member_selector {
    width: 85%;
    margin: 20px auto;
    border-radius: 8px;
    box-sizing: border-box;
}

/* Container for each team */
.team-container {
    background-color: #f9f9f9;
    margin-bottom: 5px;
}

/* Team header */
.team-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    height: 25px;
    background-color: #333;
    transition: background-color 0.3s ease;
}

.team-header label{
    font-size: 12px;
}

.team-header input {
    margin-right: 0px;
    margin-left: 10px;
}

.team-header label input {
    transform: scale(1.2);
}

.team-header:hover {
    filter: brightness(1.1);
}

.team-content {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out, padding 0.3s ease-out;
    padding: 0 15px;
}

.team-content.open {
    max-height: 500px; 
    opacity: 1;
    padding: 10px 15px;
}

.team-header label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    white-space: nowrap;
}

.child-item {
    display: flex;
    align-items: center;
    padding: 5px 0;
    height: 25px;
    font-size: 16px;
    color: #333;
    border-bottom: 1px solid #ddd;
}

.child-item:last-child {
    border-bottom: none;
    margin-bottom: -5px;
}

.child-item span {
    flex-grow: 1;
    text-align: left;
}

@media (max-width: 500px) {
    .child-item {
        height: 20px;
        font-size: 14px;
    }

    /* Team header */
    .team-header {
        font-size: 15px;
        height: 20px;
        background-color: #333;
        transition: background-color 0.3s ease;
    }
    .team-header label{
        font-size: 10px;
    }
    
}




.custom-checkbox {
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 5px; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

/* Změna barvy po zaškrtnutí */
.custom-checkbox:checked,
.custom-checkbox-select-all:checked {
    background-color: var(--team-color);
    border-color: var(--team-color);
}

/* Vložení fajfky */
.custom-checkbox::before, 
.custom-checkbox-odd-even::before {
    content: "✓";
    color: white;
    font-size: 14px; 
    font-weight: bold;
    display: none; 
}

.custom-checkbox:checked::before,
.custom-checkbox-odd-even:checked::before,
.custom-checkbox-select-all:checked::before {
    display: block;
}

/* Styl pro Sudí / Liší checkboxy */
.custom-checkbox-odd-even {
    appearance: none;
    width: 18px; 
    height: 18px;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid #2C2C2C; 
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px; 
}

.custom-checkbox-odd-even:checked {
    background-color: #2C2C2C;
}

/* Styl pro checkbox pro vybrání všech */
.custom-checkbox-select-all {
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #000000; 
    background-color: #ffffff;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-checkbox-select-all:checked {
    background-color: var(--checkbox-fill); 
}

.custom-checkbox-select-all::before {
    content: "✓";
    color: var(--team-color); 
    font-size: 16px;
    font-weight: bold;
    display: none;
    margin-bottom: 2px;
}