.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 55px;
    margin: 0 auto;
    border-bottom: 2px solid var(--primaryColor);
}

.left-icon img,
.right-icon img {
    width: 30px;
    height: 30px;
}

.left-icon,
.right-icon {
    display: flex;
    gap: 10px;
    min-width: 50px;
}

.right-icon {
    margin-bottom: -10px;
    transition: transform 0.2s ease;
}

.left-icon {
    margin-bottom: -5px;
}

.left-icon:hover{
    transform: scale(1.07);
}

.app-name {
    font-family: 'Inknut Antiqua', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: var(--primaryColor);
    margin-bottom: 15px;
    text-align: center;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease
}

.app-name:hover {
    transform: scale(1.05);
}

header a {
    text-decoration: none;
    color: inherit;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    top: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ddd; 
}

.dropdown-content a:last-child {
    border-bottom: none; 
}

.dropdown-content a:hover {
  background-color: #ddd;
}
